::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  } 
  
  h2 {
   text-align: center;
  }

  p{
    margin: 2%;
  }